*{
    padding: 0px;
    margin: 0px;
    animation: coup 3ms infinite;

}
body{
    background-color:black;
    color: #ffffff;
    min-height: 100vh;
    display: grid;
    place-items: center;
    animation: bgc 3ms infinite;

}

.glitch{
    font-size: 10em;
    font-weight: 700;
    text-transform: uppercase;

    text-shadow: -0.025em   -0.025em       0                rgba(255, 0, 0, 0.75),
                  0em        0.05em        0                rgba(0, 255, 0, 0.75),
                  0.05em     0em           0                rgba(0, 0, 255, 0.75);

    animation: glitch 3000ms infinite;

}
@keyframes glitch{
    0%{
        text-shadow:  0.025em    0.05em      0         rgba(255, 0, 0, 0.75),
                     -0.025em   -0.025em     0         rgba(0, 255, 0, 0.75),
                     -0.05em     0em         0         rgba(0, 0, 255, 0.75);
    }
    25%{
        text-shadow:  0em       -0.05em      0         rgba(255, 0, 0, 0.75),
                      0.025em    0em         0         rgba(0, 255, 0, 0.75),
                     -0.025em    0.05em      0         rgba(0, 0, 255, 0.75);
    }
    50%{
        text-shadow:  0.025em    0em         0         rgba(255, 0, 0, 0.75),
                     -0.025em   -0.025em     0         rgba(0, 255, 0, 0.75),
                      -0.05em    0.025em     0         rgba(0, 0, 255, 0.75);
    }
    75%{
        text-shadow: -0.025em    0.025em     0         rgba(255, 0, 0, 0.75),
                      0.025em   0.05em       0         rgba(0, 255, 0, 0.75),
                     -0.05em    0em          0         rgba(0, 0, 255, 0.75);
    }
    90%{
        text-shadow:  0.05em    0.025em      0         rgba(255, 0, 0, 0.75),
                     -0.05em    0.05em       0         rgba(0, 255, 0, 0.75),
                      0.05em   -0.05em       0         rgba(0, 0, 255, 0.75);
    }
    100%{
        text-shadow:  0.025em    0.05em      0         rgba(255, 0, 0, 0.75),
                     -0.025em   -0.025em     0         rgba(0, 255, 0, 0.75),
                     -0.05em     0em         0         rgba(0, 0, 255, 0.75);
    }
}
@keyframes bgc{
    0%{
        background-color: white;
    }
    10%{
        background-color: black;
    }  
    20%{
        background-color: black;
    }
    30%{
        background-color: black;
    }
    40%{
        background-color: black;
    }
    50%{
        background-color: black;
    }
    60%{
        background-color: white;
    }
    70%{
        background-color: black;
    }
    80%{
        background-color: black;
    }
    90%{
        background-color: black;
    }
    100%{
        background-color:white;
    }
}                                       
@keyframes coup {
    0%{
        clip-path: polygon(0% 0%, 0 100%, 0 81%, 0 45%, 100% 45%, 100% 47%, 0 47%, 0 100%, 100% 100%, 100% 0%);
        visibility: hidden;
    }
    25%{
        clip-path: polygon(0% 0%, 0 100%, 0 81%, 0 53%, 100% 53%, 100% 55%, 0 54%, 0 100%, 100% 100%, 100% 0%);

    }
     50%{
        clip-path: polygon(0% 0%, 0 100%, 0 81%, 0 4%, 100% 4%, 100% 7%, 0 7%, 0 100%, 100% 100%, 100% 0%);

    }
    75%{
        clip-path: polygon(0% 0%, 0 100%, 0 81%, 0 90%, 100% 90%, 100% 91%, 0 91%, 0 100%, 100% 100%, 100% 0%);

    }
    100%{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
}